/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    padding: 0;
}
.wrapper-card {
    padding: 20px;
}
