/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #425152;
    --color-secondary: #9eb7ac;
    --color-accent: #93ce8e;
    --color-accent-secondary: #3e7b52;

    --color-bg-primary: #F3F4F2;
    --color-bg-secondary: #425152;
}
